﻿@model  BabyStore.WebUI.Models.ProductsListViewModel


@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="starter-template">
        <div class="row">
            @foreach (var p in Model.Products)
            {
                Html.RenderPartial("ProductSummary", p);
            }
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
                 new { @class = "page-link", page = x, category = Model.CurrentCategory }))
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>




