﻿
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Navbar Template for Bootstrap</title>

    <link href="@Url.Content("~/Content/")bootstrap.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/")navbar.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/")starter-template.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/")sticky-footer-navbar.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Детский магазин</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @{Html.RenderAction("Menu", "Nav", new { @class = "nav-link" });}
                </li>
            </ul>
        </div>
        <div class="navbar-nav px-3">
            <div class="alert alert-light" role="alert">
                <div id="header">
                    @{Html.RenderAction("Summary", "Cart");}
                </div>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; @DateTime.Now.Year – приложение ASP.NET</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write @Scripts.Render("~/Scripts/jquery-slim.min.js")</script>
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")

</body>
</html>









