﻿@model BabyStore.Domain.Entities.Product


<div class="col-md-3">
    <div class="card mb-3 box-shadow">

        @if (Model.ImageData != null)
        {
            <img class="card-img-top" src="@Url.Action("GetImage", "Product", new {Model.ProductID})" alt="Card image cap" />
        }
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>

            <!--<p class="card-text">@Model.Description</p>-->
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <div class="item">
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            @Html.HiddenFor(x => x.ProductID)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Добавить в корзину</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">@Model.Price.ToString("c")</small>
        </div>
    </div>
</div>































