﻿@model BabyStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "BabyStore: Checkout";
}

<h2>Оплатить</h2>
Пожалуйста, введите свои данные, и мы отправим ваши товары прямо сейчас!
@using (Html.BeginForm())
{

    @Html.ValidationSummary()

    <h3>Ship to</h3>
    <div>Имя: @Html.EditorFor(x => x.Name)</div>

    <h3>Адрес:</h3>
    <div>Line 1: @Html.EditorFor(x => x.Line1)</div>
    <div>Line 2: @Html.EditorFor(x => x.Line2)</div>
    <div>Line 3: @Html.EditorFor(x => x.Line3)</div>
    <div>Город: @Html.EditorFor(x => x.City)</div>
    <div>Штат: @Html.EditorFor(x => x.State)</div>
    <div>Zip: @Html.EditorFor(x => x.Zip)</div>
    <div>Страна: @Html.EditorFor(x => x.Country)</div>

    <h3>Опции:</h3>
    <label>
        @Html.EditorFor(x => x.GiftWrap)
        Подарочная упаковка для этих предметов
    </label>

    <p align="center">
        <input class="actionButtons" type="submit" value="Отправить заказ" />
    </p>
}
