﻿@model BabyStore.Domain.Entities.Cart



<div id="cart">

    <b>Ваша корзина:</b>
    @Model.Lines.Sum(x => x.Quantity) товар(а/ов)
    @Model.ComputeTotalValue().ToString("c")

    @Html.ActionLink("Оформить заказ", "Index", "Cart", null, new { @class = "btn btn-primary", returnUrl = Request.Url.PathAndQuery })
</div>
