﻿@model  IEnumerable<BabyStore.Domain.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Все товары</h2>
<table class="Grid">
    <tr>
        <th>Номер по порядку</th>
        <th>Наименование</th>
        <th class="NumericCol">Цена</th>
        <th>Действие</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@Html.ActionLink(item.Name,"Edit", new {item.ProductID})</td>
            <td class="NumericCol">@item.Price.ToString("c")</td>
            <td>
                @using (Html.BeginForm("Delete", "Admin"))
                {
                    @Html.Hidden("ProductID", item.ProductID)
                    <input type="submit"value="Удалить"/>
                }
            </td>
        </tr>
    }
</table>
<p>@Html.ActionLink("Добавить новый товар", "Create")</p>

